package DBPersistence.FileCompile;
import java.sql.Connection;

public class $ActionName implements ILogi{

    @Override
    public void doHold(Connection connection, DataBean dataBean) {
            //TODO:在方法中实现数据库写入逻辑
    }
}